/****** RESET ******/
body{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
}

.col-md-6,
.col{
    margin: 0;
    padding: 0;
}

/****** HEADER ******/
/*NAV*/
header li{
    padding-left: 10px;
}

/****** MAIN ******/
/* MAP */

.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.map img{
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 768px){
    .map{
        display:none;
    }
}

/* TITLE ARTWORK*/
.picture-artwork h1{
    margin: 0;
}
/* DESCRIPTION ARTWORK*/
article p{
    padding: 5%;
    margin: 0;
}


/****** FOOTER ******/
/* BTN */
#btn-footer .btn-group{
    display: flex;
}

@media screen and (min-width: 768px ){
    #btn-footer{
        justify-content: flex-end;
    }
}

#btn-footer .btn{
    border: 1px solid white;
    width: 100%;
}

#btn-footer .btn:last-child{
    border-right: none;
}

/*LINK BTN*/
#btn-footer a{
    text-decoration: none;
    text-align: center;
    color: white;
}


/*****/
@media screen and (min-width: 768px) {
    .wrapper{
        display: table;
    }
    main{
        display: table-footer-group;
    }
    footer{
        display: table-header-group;
    }
}