/****** RESET ******/
body{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

.row,
.col-md-6,
.col,
.container-fluid{
    margin: 0;
    padding: 0;
}

/****** HEADER ******/
/*NAV*/
header li{
    padding-left: 10px;
}

/****** MAIN ******/

/* MENU TABLETTE */
@media screen and (max-width: 768px ){
    #btn-tablet{
        display: none;
    }
}

#btn-tablet a{
    font-size: 1.25em;
}

/* MAP */

#map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.map img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    .map{
        display:none;
    }
}

@media screen and (min-width: 768px){
    .map{
        display:flex;
    }
}

/* TITLE ARTWORK*/
.picture-artwork h1{
    margin: 0;
}

/* DESCRIPTION ARTWORK*/
article p{
    padding: 5%;
    margin: 0;
}

/****** FOOTER ******/
/* BTN */
#btn-footer a{
    font-size: 1.25em;
    background-color: white;
}

@media screen and (min-width: 768px ){
    #btn-footer{
        display: none;
    }
}

