/****** RESET ******/
body{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.row,
.col-md-6,
.col,
.col-md-2,
.container-fluid{
    margin: 0;
    padding: 0;
}

/****** HEADER ******/
/*NAV*/

.calque{
    width: 100%;
    background: linear-gradient(23deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.5));
}

#banner{
    background: url("img/louvre.jpg") no-repeat center;
    background-size: cover;
}

#brand span{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.9);
}

.breadcrumb{
    background-color: rgba(1, 32, 86,0.7);
    margin: 0;
    padding: 8px 0 8px 16px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
}

.breadcrumb a{
    color: rgba(255,255,255,0.9);
    letter-spacing: 2px;
}

.breadcrumb .active{
    color : rgba(255,255,255,1);
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: white;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f178";
}

/* MAP ET REPERES */
#museum-map{
    position: relative;
}

.repere-map{
    position: absolute;
    transform: translate(-100%,-100%);
    text-decoration: none;
    color : dodgerblue;
}

.fa{
    font-size: 50px;
}

/* CONTAINER */
.text, .score, .progression {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.score h2{
    font-family: 'Playfair Display', serif;
}

.progression h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

.progress {
    background-color: lightgray;
}

.museum-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.museum-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
}

.museum-wrapper p{
    font-family: 'Raleway', sans-serif;
}

.progress {
    width: 50vw;
}

/* mise en forme à la vue tablette en paysage */

@media screen and (min-width: 760px) {
    .col-12{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        padding: 15px;
    }

    .museum-wrapper{
        margin-top: 0;
    }

    .score p{
        font-size: 20px;
    }

    .text p{
        font-size: 25px;
    }
}

@media screen and (min-width: 992px){
    #museum-map{
        height: 75vh;
        width: 75vw;
        margin: 0 auto;
    }

    #map{
        height: 100%;
        width: 100%;
    }
}