
/* reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('img/louvre.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.row,
 .container-fluid, 
 .col, 
 .col-12, 
 p {
    margin: 0;
    padding: 0;
}

/* Container */

/* mise en forme formulaire */

.form-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px 15px;
    margin: 15% auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-shadow: 4px 2px 7px #000000;
}

.form-email .form-group {
    margin-top: 10%;
}

.form-check{
    text-align: center;
    margin-top: 10%;
}

#user_register_firstname,
#user_register_lastname,
#user_register_email
{
    border-radius: 0;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#user_register_submit{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px;
    background-color: rgb(1, 32, 86);
    margin-top: 10%;
}


/* mise en forme tablette */


@media screen and (min-width: 760px) { 
    .section-email {
        margin-top: 10%;
    }

    .form-group:first-child{
        margin-top: 0;
    }
    .form-email {
        width: 50%;
        margin: 12% auto;
    }
}

/* on annule la margin quand 
on met la tablette en vue paysage */

@media screen and (min-width: 992px) { 

    .section-email {
        margin-top: 0;
    }



}

