/****** RESET ******/
body{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

.row,
.col-md-6,
.col,
.container-fluid{
    margin: 0;
    padding: 0;
}
/* MAP */

#map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#map img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    #map{
        display:none;
    }
}

@media screen and (min-width: 768px){
    #map{
        display:flex;
    }
}

/****** QUIZ ******/

.form-check:first-child{
    margin-top: 5%;
}
.form-check:last-child{
    margin-bottom: 0;
}

.quiz{
    text-align: center;
}


/****** MODAL ******/

#valid-btn{
    margin-top: 3%;
}
#btn-modal a{
    text-decoration: none;
    color: white;
}


