/* reset */

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.row, .container-fluid, .col, .col-12, p {
    margin: 0;
    padding: 0;
}

/* Debut parcours */

/* MAP ET REPERES */
#museum-map{
    position: relative;
}

.repere-map{
    position: absolute;
    -webkit-transform: translate(-100%,-100%);
            transform: translate(-100%,-100%);
    text-decoration: none;
    color : dodgerblue;
}

.fa{
    font-size: 50px;
}

/* CONTAINER */
.text, .score, .progression {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    
}

.progression h2 {
    margin-bottom: 1rem;
}

.progress {
    background-color: lightgray;
}

.museum-wrapper{
    background-color: rgba(255,255,255,0.8);
}

.museum-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.museum-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20%;
}

.progress {
    width: 50vw;
}

/* mise en forme à la vue tablette en paysage */

@media screen and (min-width: 760px) {
    .col-12{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            align-self: center;
        padding: 15px;
    }

    .museum-wrapper{
        margin-top: 0;
    }

    .text,
    .score{
        font-size: 25px;
    }
}

@media screen and (min-width: 992px){
    #museum-map{
        height: 75vh;
        width: 75vw;
        margin: 0 auto;
    }

    #map{
        height: 100%;
        width: 100%;
    }
}