html, body, #content {
    min-height: 100vh;
}

.container-fluid {
    min-height: 100vh;
}

#col-content {
    padding: 0;
    left: 17vw;
}

/*
 *Breadcrumb
 */
.breadcrumb {
    width: 100%;
}

.breadcrumb li:after {
    content: "/";
    padding-right: 3px;
    padding-left: 3px;
}

.breadcrumb a:after {
    padding-right: 3px;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li:last-child {
    color: rgba(1, 74, 238, 0.68);
}

.breadcrumb li a {

    color: rgb(1, 32, 86);
}

/*
 * Navigation
 */

#col-nav {
    position: relative;

}

#col-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

#nav .nav-link.active {
    text-decoration: underline;
    text-underline-position: under;
    text-underline-color: rgb(1, 74, 238);
    color: white;
    border-radius: 5px;
}

/*
 * Map
 */

#map-mark {
    margin-right: 0;
}

#map {
    position: relative;

}

#map img {
    height: 100%;
    width: 100%;
}

.pointeur
{
    position: absolute;
    background-image: url("../uploads/p2-m1.png");
    background-repeat: no-repeat;
}
#delete_icon_map{

    background-image: url("../uploads/delete-m1.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

}


#repereMap {
    position: absolute;
    transform: translate(-50%, -50%);
}

/*
 * Formulaire info générales du parcours
 */

#info-parcours {
    display: flex;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: rgba(211, 211, 211, 0.46);
    border-radius: 8px;
    width: 90%;
}

#info-parcours #timepicker {
    margin-left: 10px;
    width: 100px;
}

#info-parcours #description {
    margin-bottom: 10px;
}

#submit-info-parcours {
    width: 35%;
    margin-top: 20px;
    align-self: flex-end;
    justify-self: end;
}

/*
 * Tableau des repères
 */
#table-mark {
    margin-top: 30px;
    text-align: center;
}

#liste-reperes ul li {
    list-style: none;
}

#liste-reperes ul li span {
    margin-right: 50px;
}

#liste-reperes h3 {
    margin-bottom: 30px;
}

/*
 * Formulaire d'ajout des repères
 */

#pills-tab {
>>>>>>> dev
    background-color: #e9ecef;
    display: flex;
    justify-content: space-between;
}

[name=add_mark_add] {
    margin: 20px;
}

.nav-item {
    overflow: hidden;
}

#repere {
    padding: 0;
}

#repere .nav-pills .nav-link.active {
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(1, 32, 86);
    background-color: rgba(0, 105, 217, 0)

}

#repere .nav-pills .nav-link.active a {
    background-size: unset;
}

#repere .nav-pills .nav-link:hover {
    background-color: rgb(1, 74, 238);
    color: white;
    transform: scale(1.2);
}

#repere a.nav-link {
    color: gray;
}

/*
 * Formulaire nom du repere + coordonnées
 */
#pills-general input {
    width: 50%;
    margin-bottom: 10px;
}

/*
 * Formulaire ajout description
 */
#pills-descriptions label {
    margin-right: 10px;
}

#pills-descriptions div {
    margin-bottom: 10px;
}

/*
 *Formulaire ajout question
 */

#add_mark_add_questions input {
    margin-left: 20px;
}

#validationMessage, #errorMessage {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    box-shadow: 4px 4px 30px black;
}

#hideForm {
    background-color: rgba(173, 173, 173, 0.25);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#show-route {
    margin-left: 10px;
}

#animation {
    transform: translate(40%, 10%);
    width: 100%;
    display: none;
    min-height: 100px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(4, 69, 138, 0.25);
}

.btn:hover, .nav-link:hover {
    background-color: rgb(1, 74, 238);
    color: white;
    border-radius: 5px;
}

/* Animation CSS
    Credits : http://www.alessioatzeni.com/blog/css3-loading-animation-loop
 */

.barlittle {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 5px;
    opacity: 0.1;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-animation: move 1s infinite linear;
    -webkit-animation: move 1s infinite linear;
}

#block_1 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

#block_2 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

#block_3 {
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

#block_4 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

#block_5 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

@-moz-keyframes move {
    0% {
        -moz-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(0.7);
        opacity: 0.1;
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1;
    }
}