
/* reset */

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.row, .container-fluid, .col, .col-12, p {
    margin: 0;
    padding: 0;
}

/* Backgroung image musée et div linear gradient + Titres */

#jumbotron {
    position: relative;
    background: url('img/louvre.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#bg-jumbotron {
    overflow-x: hidden;
    overflow-y: auto;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
    height: 100vh;
    width: 100vw;
}
#bg-jumbotron h1 {
    font-family: 'Great Vibes', cursive;
    color: whitesmoke;
    margin-top: 7vh;
    text-align: center;
}

#bg-jumbotron h2 {
    color: rgb(78, 255, 176);
    font-size: 20px;
    text-align: center;
    margin-top: 7vh;

}

.stats h3 {
    font-size: 20px;
}

/* Container */

.section-recap {
    position: absolute;
    top: 31vh;
    left: 0;
    padding: 0 10vw 0 10vw;
}

#results {
    background-color: rgba(245, 248, 255, 0.8);
    border-radius: 10px;
    color: rgb(20, 20, 20);
    padding: 20px;
}

/* Statistiques placé en ligne */

.museum-best {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3vw;
    margin-top: 10%;
}

.return-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4vh;
}

.btn-submit {
    background-color: rgb(1, 32, 86);
    color: rgb(78, 255, 176);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5vh 3vw;
}

#btn-home {
    padding: 3vh;
}

.btn-submit a {
    color: rgb(78, 255, 176);
}

.stats {
    padding-left: 15px;
    width: calc(100% - 50px);
}

.score-icon {
    width: 50px;
}

.museum-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10%;
}

/* Modification de mise en forme fenêtre Modal */

.modal-content {
    background-color: rgb(245, 248, 255);
}

.modal-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* mise en forme tablette */

@media screen and (min-width: 760px) {
    #bg-jumbotron h1 {
        margin-top: 6vh;
    }
    #bg-jumbotron h2 {
        margin-top: 5vh;
        font-size: 30px;
    }
    .stats h3 {
        font-size: 30px;
    }

    .section-recap {
        padding: 0 15vw;
        top: 25vh;
    }

    .museum-best {
        padding: 0 10vw;
        margin-top: 5%;
    }

    #results {
        padding: 40px;
    }

    .stats {
        padding-left: 15px;
        width: calc(100% - 10%);
    }

    .return-btn {
        padding: 0 10vw;
        margin-top: 5vh;
    }

    .score-icon {
        width: 20%;
    }
}