<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Suppression d'un parcours</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 justify-content-center">
        {% block body %}
            {% block title %}
                <h1>Supprimer un parcours</h1>
            {% endblock %}
        {{ form(formRoute) }}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>