{% extends 'Back-Office/BackOffice-v2/base.back2.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading mb-5">Bienvenue sur votre panel admin</h4>
        <p>Vous pouvez desormais acceder aux fonctionnalités de gestion de vos parcours.</p>
    </div>
{% endblock %}