{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout de la map</h1>
    {{ form(formAdd, {'attr': {'novalidate': 'novalidate'}}) }}

    <h1>Map actuelle</h1>
    <img src="{{app.request.basepath}}/uploads/{{ museum.map }}" alt="map du musée" height="300" width="400">

{% endblock %}

